:root {
  --color_type_0: rgb(0, 0, 0);
  --color_type_1: rgb(0, 69, 36);
  --color_type_2: rgb(208, 240, 192);
  --color_type_3: rgb(255, 255, 255);
  --bg_color_type_0: rgb(0, 69, 36);
  --bg_color_type_1: rgb(187, 223, 176);
  --bg_color_type_2: rgb(208, 240, 192);
  --bg_color_type_3: rgb(217, 217, 217);
  --bg_color_type_4: rgb(255, 255, 255);
  --bg_color_type_5: rgba(0, 69, 36, 0.8);
  --bg_color_type_6: rgba(217, 217, 217, 0.298);
  --bg_color_type_7: rgba(23, 23, 23, 0.368);
  --border_radius_type_0: 20px 20px 20px 20px;
  --font_type_0: 400 96px/1.21 "Impact", Helvetica, Arial, serif;
  --font_type_1: 400 50px/1.22 "Impact", Helvetica, Arial, serif;
  --font_type_2: 400 40px/1.22 "Impact", Helvetica, Arial, serif;
  --font_type_3: 400 36px/1.22 "Impact", Helvetica, Arial, serif;
  --font_type_4: 400 32px/1.21 "Impact", Helvetica, Arial, serif;
  --font_type_5: 400 24px/1.2 "Impact", Helvetica, Arial, serif;
  --font_type_6: 400 20px/1.2 "Impact", Helvetica, Arial, serif;
  --font_type_7: 400 16px/1.25 "Impact", Helvetica, Arial, serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 3%;
}

h2 {
  text-align: center;
  color: var(--color_type_1);
  margin-top: 3%;
  margin-bottom: 3%;
}

h3 {
  text-align: center;
  color: var(--color_type_1);
  font-size: 24px;
}

#main_background {
  background-repeat: no-repeat;
  min-height: 100vh;
  filter: brightness(80%);
  background-size: 100vw;
}

.block_text_disc {
  position: absolute;
  width: 50%;
  background: rgba(0, 0, 0, 30%);
  margin-top: 45vh;
  margin-left: 7%;
  border-radius: 20px;
}

.title {
  padding-left: 5%;
  padding-top: 3%;
  color: var(--color_type_3);
  font-size: 55px;
  position: relative;
  animation: my_animation 3s;
  animation-fill-mode: both;
}

.main_discription {
  padding-left: 5%;
  padding-top: 3%;
  color: var(--color_type_3);
  font-size: 18px;
  padding-bottom: 4%;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 20%;
  }
}

@keyframes my_animation {
  from {
    margin-left: -300px;
  }
}

main {
  background-color: var(--bg_color_type_2);
  width: 100%;
  height: auto;
  padding-bottom: 3%;
}
.block_photo {
  display: flex;
  justify-content: center;
}

table {
  table-layout: fixed;
}

tr {
  height: 200.75px;
}

td {
  width: 401.5px;
  padding: 20px;
  padding-top: 0;
  vertical-align: top;
}

.betweenTab {
  height: 0px;
}

.photo_main {
  border-radius: 20px;
  margin-top: 5%;
  border-spacing: 0;
}

.tabImg {
  width: 100%;
  display: block;
  border-radius: 20px;
}

.miniImg {
  width: 100%;
  height: 190.5px;
}

.Partner_main_title {
  text-align: left;
  margin-left: 5%;
  color: var(--color_type_1);
  margin-top: 3%;
  margin-bottom: 3%;
}

.partner_discription {
  text-align: left;
  margin-left: 5%;
  color: var(--color_type_1);
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.partner_rect {
    width: 60%;
    background: var(--bg_color_type_1);
    border-radius: 18px; 
    margin-left: auto;
    margin-right: auto;
}

.rect-v {
    border-radius: 20px;
}

.News_a:active {
  background-color: var(--bg_color_type_5);
}

.city_life {
  width: 100%;
  min-height: 100px;
  margin-top: 3%;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.wrapper i {
  z-index: 1000;
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: rgb(233, 245, 230);
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 2%;
  border-radius: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 370px;
  list-style: none;
  background: rgb(233, 245, 230);
  padding-top: 7%;
  flex-direction: column;
  border-radius: 20px;
}

.carousel .card .img {
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card .img img {
    cursor: pointer;
    width: 250px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 30px;
}

.carousel .card h3 {
  position: relative;
  top: 80px;
}

.carousel .card span {
  padding-top: 90px;
}

.News_a {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  text-decoration: none;
  font-size: 24px;
  padding: 1%;
  color: var(--color_type_1);
  display: block;
  width: 15%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.News_a::before {
  background-color: rgb(187, 216, 172);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  border-radius: 0px;
}

.News_a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#button {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 0.5%;
  border-radius: 50px;
  background-color: var(--bg_color_type_3);
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color_type_1);
}

#button:hover {
  background-color: var(--bg_color_type_7);
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 34px;
    }

    @media screen and (max-width: 900px) {
        .wrapper .carousel {
            grid-auto-columns: calc((100% / 2) - 9px);
        }
    }

    @media screen and (max-width: 600px) {
        .wrapper .carousel {
            grid-auto-columns: 100%;
        }
    }

    #main_background {
        min-height: 70vh;
    }

    .block_text_disc {
        margin-top: 30vh;
        margin-left: 7%;
        border-radius: 20px;
    }

    tr {
        height: 140px;
    }

    td {
        width: 280px;
        padding: 10px;
    }

    .miniImg {
        height: 120px;
    }

    .wrapper {
        position: relative;
        width: 70%;
    }

    .carousel {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .carousel .card {
            height: 270px;
            width: calc(100% - 10px);
        }

    .card .img img {
        width: 100%;
    }

    .carousel .card h3 {
        top: 30px;
        font-size: 18px;
    }

    .carousel .card span {
        padding-top: 40px;
        font-size: 14px;
    }

    #left,
    #right {
        z-index: 0;
        display: none;
    }

    #left {
        left: 50px;
    }

    #right {
        right: 50px;
    }

    .News_a {
        font-size: 18px;
    }

    .Partner_main_title {
        font-size: 22px;
    }

    .partner_discription {
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
  .block_text_disc {
    width: 60%;
    margin-top: 15vh;
  }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
  #main_background {
    min-height: 50vh;
  }
  .main_discription {
    display: none;
  }

  .block_text_disc {
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 50%;
    margin-left: 0;
    transform: translate(-50%, -50%);
  }

  .title {
    font-size: 25px;
    margin: 0;
    padding: 0;
    padding: 2% 0;
  }

  tr {
    height: 90px;
  }

  td {
    width: 180px;
    padding-bottom: 10px;
  }

  .miniImg {
    height: 80px;
  }

  .betweenTab td {
    height: 0;
    padding: 0;
  }

  .News_a {
    width: 20%;
  }

  .partner_discription {
    font-size: 14px;
  }

  .wrapper {
    position: relative;
    width: 70%;
  }

  .carousel {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .carousel .card {
    height: 270px;
    width: calc(100% - 10px);
  }

  .card .img img {
    width: 100%;
  }

  .carousel .card h3 {
    top: 30px;
  }

  .carousel .card span {
    padding-top: 40px;
  }

  #left,
  #right {
    z-index: 0;
    display: none;
  }

  #left {
    left: 50px;
  }

  #right {
    right: 50px;
  }
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
  #main_background {
    min-height: 30vh;
  }

  .main_discription {
    display: none;
  }

  .block_text_disc {
    text-align: center;
    position: absolute;
    width: 65vw;
    margin-top: 20vh;
    left: 50%;
    margin-left: 0;
    transform: translate(-50%, -50%);
  }

  .title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    padding: 2% 0;
  }

  .block_photo {
    margin-top: 0;
  }

  tr {
    height: 70px;
  }

  td {
    width: 140px;
    padding: 10px;
  }

  .miniImg {
    height: 60px;
  }

  .News_a {
    width: 31%;
  }
}
